.hide {
    display: none;
}

.game {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    background: whitesmoke;
}

#input {
    font-size: 1.5em;
}

.letters {
    font-size: 10em;
}

#easy {
    color: green;
}

#medium {
    color: orange;
}

#hard {
    color: red;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    font-size: 2em;
    background: lightblue;
    border-color: black;
    border-style: groove;
    width: 30%;
    height: 1.5em;
}

button:hover {
    background: darkgray;
}

canvas {
    border: 1px solid black;
}